In [1]:
import pandas as pd
import datetime
import pytz

In [3]:
store_time=pd.read_csv('C:/Users/swast/Downloads/store status.csv')
buss_time=pd.read_csv('C:/Users/swast/Downloads/Menu hours.csv')
zone=pd.read_csv('C:/Users/swast/Downloads/bq-results-20230125-202210-1674678181880.csv')

In [4]:
m1=pd.merge(zone,store_time, on="store_id")
m1

,store_id,timezone_str,status,timestamp_utc
0,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579 UTC
1,8139926242460185114,Asia/Beirut,active,2023-01-24 20:02:48.842888 UTC
2,8139926242460185114,Asia/Beirut,active,2023-01-18 16:11:17.744136 UTC
3,8139926242460185114,Asia/Beirut,active,2023-01-19 05:04:19.855488 UTC
4,8139926242460185114,Asia/Beirut,active,2023-01-20 08:00:49.668742 UTC
...,...,...,...,...
1741476,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-19 00:46:48.560533 UTC
1741477,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 06:07:45.6959 UTC
1741478,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-21 02:07:45.699228 UTC
1741479,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-20 20:06:38.194921 UTC
1741480,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922 UTC

In [6]:
m1["timestamp_utc"]=pd.to_datetime(m1["timestamp_utc"])
def convert_timezone(row):
    dt_utc=row['timestamp_utc']
    timezone=row['timezone_str']
    tz=pytz.timezone(timezone)
    timestamp_utc=dt_utc.astimezone(tz)
    return timestamp_utc

m1["req_time"]=m1.apply(convert_timezone, axis=1)
m1["req_time"] = m1["req_time"].apply(lambda x: x.strftime('%H:%M:%S'))

In [7]:
m=pd.merge(m1,buss_time, on="store_id")
m

,store_id,timezone_str,status,timestamp_utc,req_time,day,start_time_local,end_time_local
0,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579+00:00,12:00:47,3,06:00:00,15:00:00
1,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579+00:00,12:00:47,4,06:00:00,15:00:00
2,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579+00:00,12:00:47,2,06:00:00,15:00:00
3,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579+00:00,12:00:47,1,06:00:00,15:00:00
4,8139926242460185114,Asia/Beirut,active,2023-01-21 10:00:47.541579+00:00,12:00:47,5,06:00:00,15:00:00
...,...,...,...,...,...,...,...,...
11450313,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922+00:00,05:05:36,0,12:30:00,20:30:00
11450314,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922+00:00,05:05:36,3,12:30:00,20:30:00
11450315,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922+00:00,05:05:36,1,12:30:00,20:30:00
11450316,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922+00:00,05:05:36,5,12:30:00,21:30:00
11450317,7869742085537243781,America/Indiana/Indianapolis,active,2023-01-24 10:05:36.525922+00:00,05:05:36,4,12:30:00,21:30:00

In [8]:
filter=m[(m['req_time']>=m['start_time_local']) & (m['req_time']<=m['end_time_local'])]
filter.sort_values(by=['store_id','day','req_time'], ascending=[True,True, True])

,store_id,timezone_str,status,timestamp_utc,req_time,day,start_time_local,end_time_local
3121097,257406274356679,America/New_York,active,2023-01-22 05:01:21.281932+00:00,00:01:21,0,00:00:00,23:59:00
3121055,257406274356679,America/New_York,active,2023-01-25 05:03:06.824186+00:00,00:03:06,0,00:00:00,23:59:00
3120705,257406274356679,America/New_York,active,2023-01-21 05:04:21.810953+00:00,00:04:21,0,00:00:00,23:59:00
3121006,257406274356679,America/New_York,active,2023-01-19 05:06:53.729209+00:00,00:06:53,0,00:00:00,23:59:00
3121237,257406274356679,America/New_York,active,2023-01-20 05:30:05.170979+00:00,00:30:05,0,00:00:00,23:59:00
...,...,...,...,...,...,...,...,...
2984898,9222367421889482050,America/New_York,active,2023-01-25 04:04:46.113268+00:00,23:04:46,6,00:00:00,23:59:59
2984170,9222367421889482050,America/New_York,active,2023-01-19 04:09:31.402368+00:00,23:09:31,6,00:00:00,23:59:59
2984723,9222367421889482050,America/New_York,active,2023-01-21 04:10:13.048342+00:00,23:10:13,6,00:00:00,23:59:59
2984443,9222367421889482050,America/New_York,active,2023-01-21 04:10:27.924112+00:00,23:10:27,6,00:00:00,23:59:59
2984471,9222367421889482050,America/New_York,active,2023-01-25 04:11:35.661039+00:00,23:11:35,6,00:00:00,23:59:59

In [9]:
filter.to_csv('C:/Users/swast/Desktop/fil_output1.csv',index=False)
data=pd.read_csv('C:/Users/swast/Desktop/fil_output1.csv')

In [10]:
data["req_time"] = pd.to_datetime(data["req_time"])
last_hr_status = data.groupby('store_id').agg({'status':'last','req_time':['max','min']})
last_hr_status.columns = last_hr_status.columns.map('_'.join).str.strip() # remove extra spaces
last_hr_status['uptime_last_hour'] = (pd.to_datetime(last_hr_status['req_time_max']) - pd.to_datetime(last_hr_status['req_time_min'])).dt.total_seconds() / 60
last_hr_status['downtime_last_hour'] = (60 - last_hr_status['uptime_last_hour']).clip(lower=0)
last_hr_status

,status_last,req_time_max,req_time_min,uptime_last_hour,downtime_last_hour
store_id,,,,,
257406274356679,active,2023-05-10 23:09:14,2023-05-10 00:01:21,1387.883333,0.0
309081616338296,active,2023-05-10 23:25:24,2023-05-10 00:01:18,1404.100000,0.0
2570905277901393,inactive,2023-05-10 23:15:47,2023-05-10 00:00:28,1395.316667,0.0
2843799253836859,inactive,2023-05-10 22:20:14,2023-05-10 11:06:48,673.433333,0.0
3225796639170927,active,2023-05-10 23:24:44,2023-05-10 00:02:50,1401.900000,0.0
...,...,...,...,...,...
9218470229355806679,inactive,2023-05-10 20:10:48,2023-05-10 11:02:56,547.866667,0.0
9219648204163704298,active,2023-05-10 23:29:41,2023-05-10 00:01:35,1408.100000,0.0
9220622754425525111,inactive,2023-05-10 23:24:34,2023-05-10 00:05:01,1399.550000,0.0
9221835456246842967,active,2023-05-10 21:08:31,2023-05-10 12:03:39,544.866667,0.0
9222367421889482050,active,2023-05-10 23:11:35,2023-05-10 00:00:33,1391.033333,0.0

In [12]:
import pandas as pd

# Load the data
data = pd.read_csv('C:/Users/swast/Desktop/fil_output1.csv')

data['timestamp_utc'] = pd.to_datetime(data['timestamp_utc'])

# Extract date component and assign to new column
data['date'] = data['timestamp_utc'].dt.date

# Convert date column to datetime format
data['date'] = pd.to_datetime(data['date'])

# Filter for successful requests
success_data = data[data['status'] == 'active']

# Convert start and end time columns to datetime type
success_data['start_time_local'] = pd.to_datetime(success_data['start_time_local'])
success_data['end_time_local'] = pd.to_datetime(success_data['end_time_local'])

# Calculate the uptime_last_day
success_data['uptime_last_day'] = (success_data['end_time_local'] - success_data['start_time_local']).dt.total_seconds() / 3600

# Calculate the uptime_last_week
success_data['uptime_last_week'] = success_data.groupby(['store_id', pd.Grouper(key='timestamp_utc', freq='W-MON')])['uptime_last_day'].transform('sum')

# Group the data by store_id and date and aggregate the uptime_last_day and uptime_last_week
uptime = success_data.groupby(['store_id', 'date'])['uptime_last_day', 'uptime_last_week'].sum().reset_index()

# Filter for inactive requests
inactive_data = data[data['status'] == 'inactive']

# Convert start and end time columns to datetime type
inactive_data['start_time_local'] = pd.to_datetime(inactive_data['start_time_local'])
inactive_data['end_time_local'] = pd.to_datetime(inactive_data['end_time_local'])

# Calculate the downtime_last_day
inactive_data['downtime_last_day'] = (inactive_data['end_time_local'] - inactive_data['start_time_local']).dt.total_seconds() / 3600

# Calculate the downtime_last_week
inactive_data['downtime_last_week'] = inactive_data.groupby(['store_id', pd.Grouper(key='timestamp_utc', freq='W-MON')])['downtime_last_day'].transform('sum')

# Group the data by store_id and date and aggregate the downtime_last_day and downtime_last_week
downtime = inactive_data.groupby(['store_id', 'date'])['downtime_last_day', 'downtime_last_week'].sum().reset_index()

# Merge the two dataframes on 'store_id' and 'date'
combined_data = pd.merge(uptime, downtime, on=['store_id', 'date'], how='outer')

# Fill any missing values with 0
combined_data1 = combined_data.fillna(0)

print(combined_data1)

C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['start_time_local'] = pd.to_datetime(success_data['start_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['end_time_local'] = pd.to_datetime(success_data['end_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['uptime_last_day'] = (success_data['end_time_local'] - success_data['start_time_local']).dt.total_seconds() / 3600
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['uptime_last_week'] = success_data.groupby(['store_id', pd.Grouper(key='timestamp_utc', freq='W-MON')])['uptime_last_day'].transform('sum')
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:28: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  uptime = success_data.groupby(['store_id', 'date'])['uptime_last_day', 'uptime_last_week'].sum().reset_index()
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['start_time_local'] = pd.to_datetime(inactive_data['start_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['end_time_local'] = pd.to_datetime(inactive_data['end_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['downtime_last_day'] = (inactive_data['end_time_local'] - inactive_data['start_time_local']).dt.total_seconds() / 3600
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['downtime_last_week'] = inactive_data.groupby(['store_id', pd.Grouper(key='timestamp_utc', freq='W-MON')])['downtime_last_day'].transform('sum')
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/1279850095.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  downtime = inactive_data.groupby(['store_id', 'date'])['downtime_last_day', 'downtime_last_week'].sum().reset_index()

                  store_id       date  uptime_last_day  uptime_last_week  \
0          257406274356679 2023-01-18      1678.833333      9.048912e+05
1          257406274356679 2023-01-19      3861.316667      2.081250e+06
2          257406274356679 2023-01-20      3189.783333      1.719293e+06
3          257406274356679 2023-01-21      3021.900000      1.628804e+06
4          257406274356679 2023-01-22      1175.183333      6.334238e+05
...                    ...        ...              ...               ...
74043  9220622754425525111 2023-01-20         0.000000      0.000000e+00
74044  9220622754425525111 2023-01-21         0.000000      0.000000e+00
74045  9220622754425525111 2023-01-22         0.000000      0.000000e+00
74046  9220622754425525111 2023-01-24         0.000000      0.000000e+00
74047  9220622754425525111 2023-01-25         0.000000      0.000000e+00

       downtime_last_day  downtime_last_week
0               0.000000        0.000000e+00
1               0.000000        0.000000e+00
2               0.000000        0.000000e+00
3               0.000000        0.000000e+00
4               0.000000        0.000000e+00
...                  ...                 ...
74043        3359.961111        1.716940e+06
74044        3023.965000        1.545246e+06
74045        1175.986389        6.009290e+05
74046        3023.965000        7.832069e+05
74047        3191.963056        8.267184e+05

[74048 rows x 6 columns]

In [14]:
import pandas as pd

# Load the data
data = pd.read_csv('C:/Users/swast/Desktop/fil_output1.csv')

data['timestamp_utc'] = pd.to_datetime(data['timestamp_utc'])

# Extract date component and assign to new column
data['date'] = data['timestamp_utc'].dt.date

# Convert date column to datetime format
data['date'] = pd.to_datetime(data['date'])

# Filter for successful requests
success_data = data[data['status'] == 'active']

# Convert start and end time columns to datetime type
success_data['start_time_local'] = pd.to_datetime(success_data['start_time_local'])
success_data['end_time_local'] = pd.to_datetime(success_data['end_time_local'])

# Calculate the uptime
success_data['uptime_last_day'] = (success_data['end_time_local'] - success_data['start_time_local']).dt.total_seconds() / 3600

# Group the data by store_id and date and aggregate the uptime
uptime_last_day = success_data.groupby(['store_id', 'date'])['uptime_last_day'].sum().reset_index()

# Filter for inactive requests
inactive_data = data[data['status'] == 'inactive']

# Convert start and end time columns to datetime type
inactive_data['start_time_local'] = pd.to_datetime(inactive_data['start_time_local'])
inactive_data['end_time_local'] = pd.to_datetime(inactive_data['end_time_local'])

# Calculate the downtime
inactive_data['downtime_last_day'] = (inactive_data['end_time_local'] - inactive_data['start_time_local']).dt.total_seconds() / 3600

# Group the data by store_id and date and aggregate the downtime
downtime_last_day = inactive_data.groupby(['store_id', 'date'])['downtime_last_day'].sum().reset_index()
combined_data = pd.merge(uptime_last_day, downtime_last_day, on=['store_id', 'date'], how='outer')
combined_data_day = combined_data.fillna(0)
combined_data_day

C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['start_time_local'] = pd.to_datetime(success_data['start_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['end_time_local'] = pd.to_datetime(success_data['end_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  success_data['uptime_last_day'] = (success_data['end_time_local'] - success_data['start_time_local']).dt.total_seconds() / 3600
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['start_time_local'] = pd.to_datetime(inactive_data['start_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['end_time_local'] = pd.to_datetime(inactive_data['end_time_local'])
C:\Users\swast\AppData\Local\Temp/ipykernel_18392/125322659.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive_data['downtime_last_day'] = (inactive_data['end_time_local'] - inactive_data['start_time_local']).dt.total_seconds() / 3600

                  store_id       date  uptime_last_day  downtime_last_day
0          257406274356679 2023-01-18      1678.833333           0.000000
1          257406274356679 2023-01-19      3861.316667           0.000000
2          257406274356679 2023-01-20      3189.783333           0.000000
3          257406274356679 2023-01-21      3021.900000           0.000000
4          257406274356679 2023-01-22      1175.183333           0.000000
...                    ...        ...              ...                ...
74043  9220622754425525111 2023-01-20         0.000000        3359.961111
74044  9220622754425525111 2023-01-21         0.000000        3023.965000
74045  9220622754425525111 2023-01-22         0.000000        1175.986389
74046  9220622754425525111 2023-01-24         0.000000        3023.965000
74047  9220622754425525111 2023-01-25         0.000000        3191.963056

[74048 rows x 4 columns]

In [15]:
# merge the dataframes on 'store_id' and 'date'
merged_data = pd.merge(combined_data1, combined_data_day, on='store_id', how='outer').merge(last_hr_status,on='store_id' )

# fill any missing values with 0
merged_data = merged_data.fillna(0)

# print the final dataframe
print(merged_data)

                   store_id     date_x  uptime_last_day_x  uptime_last_week  \
0           257406274356679 2023-01-18        1678.833333     904891.166667
1           257406274356679 2023-01-18        1678.833333     904891.166667
2           257406274356679 2023-01-18        1678.833333     904891.166667
3           257406274356679 2023-01-18        1678.833333     904891.166667
4           257406274356679 2023-01-18        1678.833333     904891.166667
...                     ...        ...                ...               ...
501501  9220622754425525111 2023-01-25           0.000000          0.000000
501502  9220622754425525111 2023-01-25           0.000000          0.000000
501503  9220622754425525111 2023-01-25           0.000000          0.000000
501504  9220622754425525111 2023-01-25           0.000000          0.000000
501505  9220622754425525111 2023-01-25           0.000000          0.000000

        downtime_last_day_x  downtime_last_week     date_y  uptime_last_day_y  \
0                  0.000000            0.000000 2023-01-18        1678.833333
1                  0.000000            0.000000 2023-01-19        3861.316667
2                  0.000000            0.000000 2023-01-20        3189.783333
3                  0.000000            0.000000 2023-01-21        3021.900000
4                  0.000000            0.000000 2023-01-22        1175.183333
...                     ...                 ...        ...                ...
501501          3191.963056       826718.431389 2023-01-20           0.000000
501502          3191.963056       826718.431389 2023-01-21           0.000000
501503          3191.963056       826718.431389 2023-01-22           0.000000
501504          3191.963056       826718.431389 2023-01-24           0.000000
501505          3191.963056       826718.431389 2023-01-25           0.000000

        downtime_last_day_y status_last        req_time_max  \
0                  0.000000      active 2023-05-10 23:09:14
1                  0.000000      active 2023-05-10 23:09:14
2                  0.000000      active 2023-05-10 23:09:14
3                  0.000000      active 2023-05-10 23:09:14
4                  0.000000      active 2023-05-10 23:09:14
...                     ...         ...                 ...
501501          3359.961111    inactive 2023-05-10 23:24:34
501502          3023.965000    inactive 2023-05-10 23:24:34
501503          1175.986389    inactive 2023-05-10 23:24:34
501504          3023.965000    inactive 2023-05-10 23:24:34
501505          3191.963056    inactive 2023-05-10 23:24:34

              req_time_min  uptime_last_hour  downtime_last_hour
0      2023-05-10 00:01:21       1387.883333                 0.0
1      2023-05-10 00:01:21       1387.883333                 0.0
2      2023-05-10 00:01:21       1387.883333                 0.0
3      2023-05-10 00:01:21       1387.883333                 0.0
4      2023-05-10 00:01:21       1387.883333                 0.0
...                    ...               ...                 ...
501501 2023-05-10 00:05:01       1399.550000                 0.0
501502 2023-05-10 00:05:01       1399.550000                 0.0
501503 2023-05-10 00:05:01       1399.550000                 0.0
501504 2023-05-10 00:05:01       1399.550000                 0.0
501505 2023-05-10 00:05:01       1399.550000                 0.0

[501506 rows x 14 columns]

In [16]:
a=merged_data[['store_id','uptime_last_hour','uptime_last_day_x','uptime_last_week','downtime_last_hour','downtime_last_day_x','downtime_last_week']]
#a = a.drop_duplicates(subset=['store_id']).reset_index(drop=True)
a=a.drop_duplicates(subset=['store_id']).sort_values(by='store_id').reset_index(drop=True)
a

,store_id,uptime_last_hour,uptime_last_day_x,uptime_last_week,downtime_last_hour,downtime_last_day_x,downtime_last_week
0,257406274356679,1387.883333,1678.833333,9.048912e+05,0.0,0.000000,0.000000
1,309081616338296,1404.100000,608.993333,2.894159e+05,0.0,0.000000,0.000000
2,2570905277901393,1395.316667,4364.966667,4.277667e+06,0.0,839.416667,158649.750000
3,2843799253836859,673.433333,0.000000,0.000000e+00,0.0,420.000000,88200.000000
4,3225796639170927,1401.900000,1618.833333,8.435980e+05,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...
10991,9218470229355806679,547.866667,0.000000,0.000000e+00,0.0,350.000000,58800.000000
10992,9219648204163704298,1408.100000,5372.266667,6.242574e+06,0.0,0.000000,0.000000
10993,9220622754425525111,1399.550000,0.000000,0.000000e+00,0.0,839.990278,429235.031944
10994,9221835456246842967,544.866667,99.000000,1.058400e+04,0.0,0.000000,0.000000
10995,9222367421889482050,1391.033333,839.990278,6.938320e+05,0.0,0.000000,0.000000

In [20]:
a.to_csv('C:/Users/swast/Desktop/data_output.csv',index=False)

In [22]:
a

,store_id,uptime_last_hour,uptime_last_day_x,uptime_last_week,downtime_last_hour,downtime_last_day_x,downtime_last_week
0,257406274356679,1387.883333,1678.833333,9.048912e+05,0.0,0.000000,0.000000
1,309081616338296,1404.100000,608.993333,2.894159e+05,0.0,0.000000,0.000000
2,2570905277901393,1395.316667,4364.966667,4.277667e+06,0.0,839.416667,158649.750000
3,2843799253836859,673.433333,0.000000,0.000000e+00,0.0,420.000000,88200.000000
4,3225796639170927,1401.900000,1618.833333,8.435980e+05,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...
10991,9218470229355806679,547.866667,0.000000,0.000000e+00,0.0,350.000000,58800.000000
10992,9219648204163704298,1408.100000,5372.266667,6.242574e+06,0.0,0.000000,0.000000
10993,9220622754425525111,1399.550000,0.000000,0.000000e+00,0.0,839.990278,429235.031944
10994,9221835456246842967,544.866667,99.000000,1.058400e+04,0.0,0.000000,0.000000
10995,9222367421889482050,1391.033333,839.990278,6.938320e+05,0.0,0.000000,0.000000

In [21]:
from flask import Flask, request, jsonify, Response
import threading
import time
import pandas as pd

app = Flask(__name__)

# mock data stored in DB
data = pd.read_csv('C:/Users/swast/Desktop/data_output.csv')

# in-memory storage for reports
reports = {}

def generate_report():
    # Here, you can generate your report using the data stored in your database
    # Once the report is generated, you can save it to disk and return the report ID
    
    # Generate report and save to disk
    report_id = str(random.randint(1000000, 9999999))
    data.to_csv(f'C:/Users/swast/Desktop/reports/{report_id}.csv', index=False)
    
    # Return the report ID
    return report_id

@app.route('/trigger_report', methods=['POST'])
def trigger_report():
    # Create a new thread to generate the report
    # (simulating a long-running task)
    def generate_and_save_report():
        report_id = generate_report()
        reports[report_id] = True  # mark report as generated in memory
    
    threading.Thread(target=generate_and_save_report).start()
    
    return jsonify({'status': 'Report generation started'})

@app.route('/get_report', methods=['GET'])
def get_report():
    # Get the report ID from the request parameters
    report_id = request.args.get('report_id')
    
    # Check if the report has been generated
    if report_id not in reports:
        return 'Report not found'
    
    # Get the report data
    report_data = pd.read_csv(f'C:/Users/swast/Desktop/reports/{report_id}.csv').to_csv(index=False)
    
    # Remove report from memory
    del reports[report_id]
    
    # Return the report data as CSV
    return Response(
        report_data,
        mimetype='text/csv',
        headers={'Content-Disposition': f'attachment; filename={report_id}.csv'}
    )